*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INICIO DE LA CABECERA*/
.cont_header{
  display: flex;
  padding: 1em 3em 1em 3em;
  justify-content: space-between;
  position: relative;
  background-color: #1F1D59;
}

.cont_nombre{
  border: #fff 2px solid;
  border-radius: 50px;
  cursor: default;
}

.nombre{
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin: .2em 1em .2em 1em;
}

.cont_ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  display: flex;
}

li{
  list-style: none;
  font-size: 1.5em;
  color: #fff;
  margin: 0em 1em 0em 1em;
  padding: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover{
  background-color: #2b2970;
  cursor: pointer;
}

.sesion{
  border: #fff 2px solid;
  background-color: #2b2970;
  transition: transform .3s ease-in-out;
}

.sesion:hover{
  transform: scale(1.1);
  background-color: #2b2970;
}

.contenido{
  margin: 35em 3em 3em 3em;
  /*border: 1px solid #000;*/
}
/*FIN DE LA CABECERA*/

.contenedor_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

/*INICIO DEL FORMULARIO LOGIN*/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: #151717 1px solid;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*INCIO TITULO INICIAR SESION*/
.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
/*FIN TITULO INICIAR SESION*/

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}
/*FIN DEL FORMULARIO LOGIN*/

/*INICIO DEL FOOTER */
footer {
  display: flex;
  background-color: #1F1D59;
  color: #fff;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  padding: 2% 3% 2% 3%;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.1);
}

.decoration{
  text-decoration: none;
}

.cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminos{
  color: #FFF;
}

.terminos:hover{
  color: #0800ff;
}
/* FIN FOOTER */

a{
  text-decoration: none;
}